<p id="notice"><%= notice %></p>

<h1>Blog</h1>

<% @posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag post.image.thumb.url %> <h3 style="display: inline"><%= post.title %></h3>
      <br>
      <br>
      <p>Posted: <%= post.created_at.strftime('%B %d %Y') %></p>
      <% if post.updated_at %>
        <p>Last updated: <%= time_ago_in_words(post.updated_at) %> ago</p>
      <% end %>
      <p><%= post.content %></p>
      
      <p><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  </div>
<% end %>

<br>

<div class="well"><%= link_to 'New Post', new_post_path %></div>
